*{
    margin: 0;
    padding: 0;
}
header{
    background-image: url('/home/Rectangle\ 37.png');
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
}
header nav{
    display: flex;
    justify-content: end;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(5px);
}

nav :first-child{
    margin-right: 950px;
}

nav a{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(251, 234, 234);
    text-decoration: none;
    margin-right: 20px;
    padding: 6px 10px; 
    border-radius: 5px;
    transition: 0.2s;
}



nav a:hover {
    background-color: rgba(128, 128, 128, 0.224);
}
.cntBtn {
    position: absolute;
    width: 16px;
    height: 16px;
    background: #ef6306;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
}

.cart {
    width: 28px;
    height: 28px;
    fill: white;
}

.one {
    padding: 300px 20px;
    color: white;
}

.one h1 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 72px;
    font-weight: 500;
    letter-spacing: 1px;
}
.one h4{
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 30px;
}

.showNow{
    margin-top: 20px;
    padding: 7px;
    width: 120px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.showNow:hover {
    background: linear-gradient(135deg, #ffd700, #ff8c00);
    color: black;
    border-color: #ffd700;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.7), 0 4px 10px rgba(0,0,0,0.2);
    transform: scale(1.05);
}

.two{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
    padding: 75px;
    
}
.two h2::first-letter{
    color: #eb813b;

}
.box {
    padding: 30px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding: 10px;
}
.card .img {
    width: 400px; 
    height: 200px;
    object-fit: cover; 
}
.card .name{
    color: gray;
    padding-bottom: 20px ;
    padding-top: 20px;
    font-size: 15px;
}
.price {
    font-size: 15px;
}
.allPr{
    color: white;
    background-color: #a75723;
    border: none;
    border-radius: 5px;
    width: 150px;
    padding: 10px;
    transition: all 0.3s ease;
}
.allPr:hover {
    background: linear-gradient(135deg, #d36e2a, #ff8c00);
    color: black;
    border-color: #ffd700;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.7), 0 4px 10px rgba(0,0,0,0.2);
    transform: scale(1.05);
}
.addCartBtn{
    position: relative;
    bottom: 110px;
}


