*{
  margin: 0;
  padding: 0;
}
header nav{
  display: flex;
  justify-content: end;
  padding: 20px;
}
nav :first-child{
  margin-right: 980px;
}
nav a{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-right: 20px;
  padding: 6px 10px; 
  border-radius: 5px;
  transition: 0.2s;
}
nav a:hover {
  background-color: rgba(128, 128, 128, 0.224);
}
.cntBtn {
  position: absolute;
  width: 16px;
  height: 16px;
  background: #ef6306;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
}
.cart {
  width: 28px;
  height: 28px;
  fill: white;
  flex-shrink: 0;
}
.one{
  background-color: rgba(243, 243, 243, 0.662);
  padding: 80px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
.one a, span{
  text-decoration: none;
  color: rgb(7, 71, 30);
}
.one {
  background: #f1f5f8;
  padding: 30px;
  font-size: 20px;
}
.one a {
  color: #2a6f97;
  text-decoration: none;
  font-weight: 600;
}
.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  padding: 60px;
}
.product-img {
  width: 600px;
  height: 00px;
  border-radius: 6px;
}
.product-info h2 {
  font-size: 32px;
  margin-bottom: 5px;
}
.product-info h4 {
  color: #8da9c4;
  margin-bottom: 15px;
}
.product-info h3 {
  color: #2a6f97;
  font-size: 26px;
  margin-bottom: 20px;
}
.product-info p {
  line-height: 1.6;
  margin-bottom: 20px;
}
.colors {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}
.colors span {
  width: 24px;
  height: 24px;
  border-radius: 6px;
  cursor: pointer;
}
.add {
  padding: 12px 24px;
  background: #b45309;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}
