*{
    margin: 0;
    padding: 0;
}
header nav{
    display: flex;
    justify-content: end;
    padding: 20px;
}
header nav{
     position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(5px);
}
nav :first-child{
    margin-right: 980px;
}
nav a{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-right: 20px;
    padding: 6px 10px; 
    border-radius: 5px;
    transition: 0.2s;
}

nav a:hover {
    background-color: rgba(128, 128, 128, 0.224);
}
.cntBtn {
    position: absolute;
    width: 16px;
    height: 16px;
    background: #ef6306;
    color: pink;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
}

.cart {
    width: 28px;
    height: 28px;
    fill: white;
    flex-shrink: 0;
}
.one{
    background-color: rgba(243, 243, 243, 0.662);
    padding: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.one a, span{
    text-decoration: none;
    color: rgb(7, 71, 30);
}

.layout {
    display: grid;
    grid-template-columns: 220px 1fr;
    gap: 40px;
    padding: 40px;
}

.sidebar {
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar input[type="search"] {
    width: 100%;
    padding: 8px 10px;
    background: #f1f5f8;
    border: none;
    border-radius: 4px;
    margin-bottom: 25px;
}

.sidebar h4 {
    margin-bottom: 10px;
    font-size: 16px;
}

.sidebar a {
    display: block;
    margin-bottom: 6px;
    color: #617d98;
    text-decoration: none;
    font-size: 14px;
}

.sidebar a:hover {
    color: #102a42;
}

.sidebar input[type="range"] {
    width: 100%;
    margin: 10px 0;
}

.box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 20px;
}

/* ===== CARD ===== */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card .name {
    margin-top: 15px;
    color: #617d98;
    font-size: 14px;
}

.card .price {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 600;
}

